{% extends 'base.html.twig' %}

{% block title %}MovieController!{% endblock %}

{% block body %}
<style>

</style>
<div >
  {% for listMovie in listMovies %}
        <div>{{ listMovie.title }}</div>
        <div>{{ listMovie.id }}</div>
{% endfor %}
</div>
{% endblock %}
