{% extends 'base.html.twig' %}

{% block title %}MovieController!{% endblock %}

{% block body %}

        <div>Titre : {{ movie.title }}</div>
        <iframe width="900" height="500" src="https://www.youtube.com/embed/{{ movie.videos }}?controls=1">
        </iframe>
</div>
{% endblock %}
